 *{
padding: 0;
margin: 0;
box-sizing: border-box;
} 
header{
background-color: rgb(63, 63, 224);
width: 100%;
padding: 30px;
margin-bottom: 60px;
}
header h1{
    color: white;
    margin: auto;
    width: fit-content;
}
.profile{
    background: white;
    padding: 60px;
    width: 350px;
    border: 5px solid rgb(70, 171, 211);
    outline: 5px dashed rgb(207, 130, 99);
    margin: auto;
    border-radius: 15px;
}
 .img{
    width: 200px;
    margin: auto; 
} 
.profile img{
    height: 150px;
    margin-bottom: 20px;
}
 .button{
    width: fit-content;
    margin: auto;
     padding: 20px;
     margin: auto; 
    border: none;
    display: inline-block;
    border-radius: 5px;
    color: white;
 }

  .b1{
    background: rgb(36, 102, 226);
    padding: 5px;
  }
  .b2{
    background: rgb(109, 182, 54);
    padding: 5px;
  }
  footer{
    color: white;
    padding: 20px;
    margin-top: 50px;
    background-color: black;
  }
  footer p{
    width: fit-content;
    margin: auto;
  }
