.pic{
    display: flex;
     align-items: center;  
}

.picwt{
    display: flex;
    align-items: flex-start; 
}
.text{
    display: flex;
  flex-direction: column; 
}
  h2 {
     font-size: 30px;
      font-family: 'Irish Grover';   
  }
  .rect{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rect1{
    margin: 20px;
    background-color: #932776;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rect2{
    margin: 20px;
    background-color: #16AB05;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px ;
  } 
  .rect3{
    margin: 20px;
    background-color: #051CB1;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rect4{
    margin: 20px;
    background-color: #FFFB00;
    width: 20%;
    display: flex;
    border-radius: 10px;
    border:5px black ;
    justify-content: center;
    align-items: center;
  }


  .container {
     position: relative; 
     width: 200px;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
   
  }


  .red {
    background-color: #c0392b;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
    position: absolute;
  }

  .cyan {
    background-color: #2ea991;
    top: 60px;
    left: 60px;
    width: 200px;
    height: 200px;
    position: absolute;
  }

  .purple {
    background-color: #8e44ad;
     top: 100px;
    left: 100px; 
    width: 200px;
    height: 200px;
    position: absolute;
  }
table{
    margin: 20px;
   width: 20%;
   height: 40%;
border-spacing: 5px;

}


